@model IEnumerable<CarScope.Models.FutureValueModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyInvestment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearlyInterestRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Years)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContractNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyInvestment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearlyInterestRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Years)
            </td>

            

            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
